<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :article_nombre %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :article_precio %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :article_descripcion %>
  </div>

  <div class="field">
    <%= form.label :proveedor %>
    <%= form.number_field :proveedor, id: :article_proveedor %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :article_image %>
  </div>

  <div class="field">
    <%= form.label :modo %>
    <%= form.number_field :modo, id: :article_modo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
