<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :store_nombre %>
  </div>

  <div class="field">
    <%= form.label :latitud %>
    <%= form.text_field :latitud, id: :store_latitud %>
  </div>

  <div class="field">
    <%= form.label :longitud %>
    <%= form.text_field :longitud, id: :store_longitud %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_area :direccion, id: :store_direccion %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :store_descripcion %>
  </div>

  <div class="field">
    <%= form.label :imagen %>
    <%= form.text_field :imagen, id: :store_imagen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
